@media only screen and (max-width: 1500px) {
    
    ._hero {
        background-position: center right !important;
    }
}


// >> XL 1201
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    ._hero {
        background-position: center right !important;
        // background-size: 100% 100% !important;

        &._about_page {
            background-position:  center center !important;

            ._about_heading {
                font-size: 60px;
            }
        }

        ._hero_content {

            ._section_title {
                margin-top: 10rem;   
            }

            ._section_heading {
                font-size: 60px  !important;
            }

            ._section_lead {
                font-size: 18px;
                font-weight: 100;
            }   

            ._button_container {

                ._button {

                }
            }

            ._circle_logo_selo{
                img {
                    height: 160px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1366px) and (max-height: 768px) {
    ._hero {

        ._hero_content {

            
            ._section_title {
                margin-top: 6rem;
                margin-bottom: 0.5rem;
            }

            ._section_heading {
                font-size: 50px !important;
                margin-bottom: 0.5rem;
            }

            ._section_lead {
                font-size: 18px;
                font-weight: 100;
            }

            ._button_container {
                margin-bottom: 2rem;

                ._button {

                }
            }

            ._circle_logo_selo{

                img {
                    height: 150px !important;
                }
            }
        }
    }
}

// >> XL 1201
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    ._hero {
        background-position: center right !important;

        &._about_page {
            background-position:  center center !important;

            ._about_heading {
                font-size: 55px;
            }
        }

        ._hero_content {

            ._section_title {
                margin-top: 10rem;
            }

            ._section_heading {
                font-size: 55px;
            }

            ._section_lead {
                font-size: 18px;
                font-weight: 100;
            }

            ._button_container {

                ._button {

                }
            }

            ._circle_logo_selo{
                img {
                    height: 150px;
                }
            }
        }
    }
}


// >> XL 1201
@media only screen and (min-width: 769px) and (max-width: 991px) {
    ._hero {
        background-position: right center !important;


        &._about_page {
            background-position:  center center !important;

            ._about_heading {
                font-size: 55px;
            }
        }

        ._hero_content {

            ._section_title {
                margin-top: 10rem;
                font-size: 18px;
            }

            ._section_heading {
                font-size: 50px;
            }

            ._section_lead {
                font-size: 18px;
            }

            ._button_container {
                    margin-bottom: 4rem;
                ._button {

                }
            }

            ._circle_logo_selo{
                img {
                    height: 145px;
                }
            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    ._hero {
        background-position: 80% top !important;


        &._about_page {
            background-position:  56% center !important;
            
            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 16px !important;
            margin-bottom: 1rem;
            margin-top: 8rem !important;
        }

        ._section_heading {
            font-size: 40px !important;
            display: block !important;
        }

        ._section_lead {
            font-size: 16px !important;
            width: 70%;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 14px !important;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 135px !important;
            }
        }
    }
}


@media only screen and (min-width: 501px) and (max-width: 600px) {
    ._hero {
        background-position: 85% center !important;


        &._about_page {
            background-position:  56% center !important;

            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 16px !important;
            margin-bottom: 1rem;
        }

        ._section_heading {
            font-size: 38px !important;
            display: block !important;
        }

        ._section_lead {
            font-size: 16px !important;
            width: 85%;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 14px !important;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 140px !important;
            }
        }
    }
}


@media only screen and (min-width: 360px) and (max-width: 500px) {
    ._hero {
        background-position:  85% 40% !important;


        &._about_page {

            background-position:  56% center !important;
            
            ._about_heading {
                font-size: 38px;
                padding-top: 25rem;
            }
        }

        ._section_title {
            font-size: 14px !important;
            margin-bottom: 1rem;
        }

        ._section_heading {
            font-size: 40px !important;
            display: block !important;
            line-height: 1.2;
        }

        ._section_lead {
            font-size: 15px !important;
            margin-bottom: 1.5rem !important;
        }


        ._button_container {
            margin-bottom: 3rem !important;

            ._button {
                font-size: 16px !important;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
            }
        }


        ._circle_logo_selo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 120px !important;
            }
        }
    }
}


// @media only screen and (max-width: 450px) {
//     ._hero {
//         background-position: 85% top !important;
//     }
// }